<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-item">
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="navbar-item">
            <a href="{{ url_for('adoptions', page=1) }}">Adopt</a>
        </div>
        <div class="navbar-item">
            <a href="{{ url_for('myforms') }}">View status</a>
        </div>

        {% if current_user.is_authenticated %}
        <div class="login-container">
            <div class="profile-picture">
                <img src="{{ current_user.profile_pic }}" width="75px" alt="Google profile pic"><p class="welcome-message">Hello, {{ current_user.name }}!</p>
            </div>
            <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% else %}
        <div class="login-container">
            <h2>Logged out</h2>
            <a class="login-button" href="/login">Login with Google</a>
        </div>
        {% endif %}
    </div>
    <div style="position: fixed; z-index:-1; display: flex;flex-direction: column;width: 100%;height: 100%;justify-content: center;align-items: center">
        <p class="unauthorized">{{message}}</p>
        <p class="unauthorized">If you think there is a problem, please contact an administrator!</p>
    </div>

</body>
</html>